body {
    
    font-family: 'KoHo', sans-serif;
    font-weight: 900;

}


.div1 {
    padding: 0 !important;
    display: flex;
    justify-content: start;


}

.div1-1 {
    padding: 0 !important;
    background-color: #ffcb91;
    width: 40%;
    height: 93vh;

    display: flex;
}

.a {
    visibility: hidden;
    width: 60%;
    background-color: red;
}

.b {
    width: 40%;
    position: relative;
    /* background-color: royalblue;   */
}

.content-description {
    /* width:500px;
    height: 200px; */
    
    position: absolute;
    top: 25%;
    left: 0%;


}

.content {
    margin: 0;
    padding: 0;
    background-color: #ffefa1;
    width: 260px;
    height: 380px;

    text-align: center;

}

.my-img {
    width: 150px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3 {
    line-height: 0.8;

}

.space {
    margin-bottom: 20px;
}


.arrow-down {
    background-color: transparent;
    text-align: center;
    width: 50px;
    border-radius: 100px;
    padding: 0;
    margin: 0;
    border: transparent;
}
.arrow-up {
    background-color: transparent;
    text-align: center;
    width: 50px;
    border-radius: 100px;
    padding: 0;
    margin: 0;
    border: transparent;
}




.description {
    display:none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color:#94ebcd;
    width: 260px;
    height: 345px;
}

.description h1 {
    font-weight: 900;
    margin: 0px 10px;
}

.description p {

    font-size: 1.19rem;
    line-height: 1;
}

.contacts {
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.links{
    text-align: center;
}

.link{
    text-align: center;
    padding-right: 10px;
}



















.div1-2 {
    text-align: center;
    background-color: #fff;
    width: 60%;


}





















/* .div2-1-profile {
    background-color: aqua;
    width: 300px;
    height: 400px;

    position: absolute;
    top: 5%;
    right: 15%;

}

.my-img{
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}


.div2-1-profile-icons{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content:center;
}

.div-impingere{

    position: relative;
    background-color: red;
    width: 90%;
} */